.cupcakelist .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 15px;
}

.cupcakelist .grid-items {
  text-align: center;
}

img {
  width: 250px;
}

body {
  background-color: #99ebff;
  text-align: center;
}

.one-cupcake {
  display: grid;
  grid-template-columns: auto;
  padding: 10px
}

.one-cupcake .grid-items {
  text-align: center;
}

p.best {
  font-style: oblique;
  color: #000080;
  font-size: 25px;
  font-weight: bold;
}

.flashy {
  color: red;
  font-style: italic;
}
